*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #262626;

  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 5em 5em;
}
h1 {
  color: white;
  font-size: 4rem;
}
h1::first-letter {
  color: #10b981;
}
/* Grille de jeu */
#grid {
  display: grid;
  gap: 1em;
  margin: 20px;
}

.row {
  display: flex;
  gap: 1em;
}

.cell {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #262626;
  border-radius: 5px;
  color: white;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #404040;
  transition: background 0.3s ease;
}

.cell.correct {
  background: #10b981;
  color: white;
}

.cell.present {
  background: #fbbf24;
  color: white;
}

.cell.absent {
  background: #737373;
  color: white;
}

/* Clavier virtuel */
#keyboard {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.keyboard-row {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.key {
  background-color: #404040;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.7em 1em;
}
.key.pressed {
  background-color: #3779f3 !important;
  transform: scale(0.95);
}
.key[data-key="Enter"],
.key[data-key="Backspace"] {
  background-color: #3779f3;
}
.key:hover {
  background-color: #3779f3;
}

/* Pour le clavier */
.key.correct {
  background: #10b981;
}
.key.present {
  background: #fbbf24;
}
.key.absent {
  background: #171717;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
}

#attemptsHistory {
  margin: 1.5rem 0;
  display: grid;
  gap: 0.5rem;
}

.attempt-row {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

.mini-cell {
  width: 25px;
  height: 25px;
  border: 2px solid #ddd;
}

#replayButton {
  background: #6aaa64;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.hidden {
  display: none !important;
}
